@model List<Pokedex.Models.Pokemons>
@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 text-center container">
    <div class="row">
        <div class="col mx-auto">
            <h1>Pokédex</h1>
            @foreach (var type in ViewBag.Types)
            {
                <a href="#" class="btn my-2 text-white" style="background-color:@type.Color">
                    @type.Name
                </a>
            }
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
            @foreach (var pokemon in Model)
            {
                <div class="col" onclick="GetInfo(@pokemon.Number)">
                    <div class="card shadow-sm cursor-pointer">
                        <img src="@pokemon.Image" class="card-img-top" alt="@pokemon.Name" />

                        <div class="card-body">
                            <p class="card-text mb-0">
                                Nº @pokemon.Number.ToString("000")
                            </p>
                            <h3 class="card-title">@pokemon.Name</h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @foreach (var ptype in pokemon.Types)
                                    {
                                        <a href="#" class="btn btn-sm my-2 text-white"
                                            style="background-color:@ptype.Type.Color">
                                            @ptype.Type.Name
                                        </a>
                                    }
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
<script>
    function GetInfo(number)
    {
        window.location = '@Url.Action("Details", "Home")' + '?Number=' + number;
    }
</script>   
}